<li class="directory-item entry document {{ @root.documentCls }} flexrow" data-entry-id="{{ id }}">
	{{#if thumbnail}}
	<img class="thumbnail" src="{{ thumbnail }}" alt="{{ name }}" loading="lazy">
	{{/if}}
	<div class="flexcol">
		<a class="entry-name ellipsis flexcol" data-action="activateEntry">{{ name }}</a>
		{{#if (eq type "character")}}
			<span class="actor-level">
				{{t20classes items}}
			</span>
		{{/if}}
	</div>
</li>
