<div class="item-controls flexrow">
	{{#if (eq item.type "arma")}}
		{{#if @root.equipmentSlots}}
			<a class="item-control item-toggle toggle-weapon {{#if item.equipado.slot}}active{{/if}}" title="{{#if item.equipado.slot}}{{localize 'T20.Unequip'}}{{else}}{{localize 'T20.Equip'}}{{/if}}">
				<span class="fa-stack">
					{{{item.equipado.icon1}}}
					{{{item.equipado.icon2}}}
				</span>
			</a>
		{{else}}
			<a class="item-control item-toggle toggle-weapon {{#if (gt item.system.equipado 0)}}active{{/if}}" title="{{#if item.system.equipado}}{{localize 'T20.Unequip'}}{{else}}{{localize 'T20.Equip'}}{{/if}}">
				<span class="fa-stack fa-fw fa-2xs">
					<i class="fa-solid fa-hand-back-fist fa-stack-2x"></i>
					{{#if item.system.equipado}}
						<i class="fa-solid fa-{{item.system.equipado}} fa-inverse fa-stack-1x"></i>
					{{/if}}
				</span>
			</a>
		{{/if}}
	{{else if (eq item.type "equipamento")}}
		{{#if @root.equipmentSlots}}
			<a class="item-control item-toggle toggle-armor {{#if item.equipado.slot}}active{{/if}}" title="{{#if item.equipado.slot}}{{localize 'T20.Unequip'}}{{else}}{{localize 'T20.Equip'}}{{/if}}">
				<span class="fa-stack">
					{{{item.equipado.icon1}}}
					{{{item.equipado.icon2}}}
				</span>
			</a>
		{{else}}
			<a class="item-control item-toggle toggle-armor{{#if item.system.equipado}} active{{/if}}" title="{{#if item.system.equipado}}{{localize 'T20.Unequip'}}{{else}}{{localize 'T20.Equip'}}{{/if}}">
				<i class="fas fa-shield-alt"></i>
			</a>
		{{/if}}
	{{/if}}
</div>