<ul class="item-list">
	<li class="item item-header" style="text-align: center;">
		{{#if isNPC}}
			<label>{{localize 'T20.SpellDC'}} {{system.attributes.cd}}</label>
		{{else}}
			{{#each system.atributos as |atr key|}}
			{{#if (eq key ../system.attributes.conjuracao)}}
			<label>{{localize 'T20.SpellDC'}} {{add ../system.attributes.cd atr.value}} =</label>
			<label title="{{localize 'T20.SpellDCFormula'}}">{{../system.attributes.cd}} +</label>
			{{/if}}
			{{/each}}
			<select class="selectAtr" title="{{localize 'T20.KeyAbility'}}" name="system.attributes.conjuracao">
				{{selectOptions config.atributos selected=system.attributes.conjuracao localize=true blank=''}}
			</select>
			<a class="update-cd" title="{{localize 'T20.UpdateSpellKeyAbility'}}" data-atrRes="{{system.attributes.conjuracao}}"><i class="fas fa-sync"></i></a>
		{{/if}}
	</li>
	{{#each actor.magias as |circulo|}}
	{{#if circulo.spells.length}}
	<ol class="item-list">
		<li class="item item-header flexrow">
			<div class="item-name">{{ localize 'T20.Spells'}}</div>
		</li>
		{{#each circulo.spells as |magia|}}
		<li class="item" data-item-id="{{magia._id}}">
			<div class="item-name flexrow rollable" data-label="{{magia.name}}">
				{{> "tormenta20.list-header-element" item=magia}}
			</div>
		</li>
		{{/each}}
	</ol>
	{{/if}}
	{{/each}}
</ul>