<div class="item-controls">
	{{#if (eq @root.layout "tabbed")}}
	<a class="item-control item-fav" title="{{#if item.flags.tormenta20.favorito}}{{localize 'T20.Favorite'}}{{else}}{{localize 'T20.Unfavorite'}}{{/if}}" >
		<i class="{{#if item.flags.tormenta20.favorito}}fas{{else}}far{{/if}} fa-star" ></i>
	</a>
	{{/if}}
	{{#if (eq item.type "arma")}}
		{{#if @root.equipmentSlots}}
			<a class="item-control item-toggle toggle-weapon {{#if item.equipado.slot}}active{{/if}}" title="{{#if item.equipado.slot}}{{localize 'T20.Unequip'}}{{else}}{{localize 'T20.Equip'}}{{/if}}">
				<span class="fa-stack" style="width:1em;font-size: 14px;">
					{{{item.equipado.icon1}}}
					{{{item.equipado.icon2}}}
				</span>
			</a>
		{{else}}
			<a class="item-control item-toggle toggle-weapon {{#if (gt item.system.equipado 0)}}active{{/if}}" title="{{#if item.system.equipado}}{{localize 'T20.Unequip'}}{{else}}{{localize 'T20.Equip'}}{{/if}}">
				<span class="fa-stack fa-fw fa-2xs">
					<i class="fa-solid fa-hand-back-fist fa-stack-2x"></i>
					{{#if item.system.equipado}}
						<i class="fa-solid fa-{{item.system.equipado}} fa-inverse fa-stack-1x"></i>
					{{/if}}
				</span>
			</a>
		{{/if}}
	{{else if (eq item.type "equipamento")}}
		{{#if @root.equipmentSlots}}
			<a class="item-control item-toggle toggle-armor {{#if item.equipado.slot}}active{{/if}}" title="{{#if item.equipado.slot}}{{localize 'T20.Unequip'}}{{else}}{{localize 'T20.Equip'}}{{/if}}">
				<span class="fa-stack" style="width:1em;font-size: 14px;">
					{{{item.equipado.icon1}}}
					{{{item.equipado.icon2}}}
				</span>
			</a>
		{{else}}
			<a class="item-control item-toggle toggle-armor{{#if item.system.equipado}} active{{/if}}" title="{{#if item.system.equipado}}{{localize 'T20.Unequip'}}{{else}}{{localize 'T20.Equip'}}{{/if}}">
				<i class="fas fa-shield-alt"></i>
			</a>
		{{/if}}
	{{/if}}
	<a class="item-control item-delete" title="{{localize 'T20.Delete'}}"><i class="fas fa-trash"></i></a>
</div>