{{#*inline "optgroups"}}
	<optgroup label="{{localize "T20.DefaultPlural"}}">
		{{#if none}}<option value="">{{ localize "T20.None" }}</option>{{/if}}
		<option value="dano">{{localize "T20.Damage"}}</option>
		<option value="perda">{{localize "T20.DamageLoss"}}</option>
	</optgroup>
	<optgroup label="{{localize "T20.DamagePhysicalPlural"}}">
		<option value="corte">{{localize "T20.DamageSlashing"}}</option>
		<option value="impacto">{{localize "T20.DamageBludgeoning"}}</option>
		<option value="perfuracao">{{localize "T20.DamagePiercing"}}</option>
	</optgroup>
	<optgroup label="{{localize "T20.DamageElementalPlural"}}">
		{{#each @root.config.damageTypes as |name type|}}
			{{#unless (includes type "dano" "perda" "corte" "impacto" "perfuracao")}}
			<option value="{{type}}">{{localize name}}</option>
			{{/unless}}
		{{/each}}
	</optgroup>
	<optgroup label="{{localize "T20.HealingPlural"}}">
		{{#each @root.config.healingTypes as |name type|}}
			<option value="{{type}}">{{localize name}}</option>
		{{/each}}
	</optgroup>
{{/inline}}

<div class="rolls flexrow">
	<h3>{{ localize "T20.Rolls" }}</h3>
	<span class="rolls-controls">
		<a class="rolls-control add-roll" data-roll-type="ataque"><i class="fas fa-plus"></i> {{ localize "T20.Attack" }}</a>
		<a class="rolls-control add-roll" data-roll-type="dano"><i class="fas fa-plus"></i> {{ localize "T20.Damage" }}</a>
		<a class="rolls-control add-roll" data-roll-type="formula"><i class="fas fa-plus"></i> {{ localize "T20.Formula" }}</a>
	</span>
</div>
{{#each item.system.rolls as |roll key| }}

	{{!-- roll.key --}}
	{{!-- roll.name --}}
	{{!-- roll.type --}}
	{{!-- roll.versatil --}}
	<div class="form-group">
		<h4 class="roll-header flexrow">
			<input type="text" class="flex-2" name="system.rolls.{{key}}.name" value="{{roll.name}}" title="Referência: {{roll.key}}" />
			<input type="hidden" name="system.rolls.{{key}}.key" value="{{roll.key}}" />
			<input type="hidden" name="system.rolls.{{key}}.type" value="{{roll.type}}" />
			<div class="item-controls">
				{{#if (eq roll.type "dano")}}
					<a class="parts-control add-part" data-roll-id="{{key}}" data-roll-type="{{roll.type}}"><i class="fas fa-plus"></i></a>
				{{/if}}
				<a class="rolls-control delete-roll" data-roll-id="{{key}}" data-roll-type="{{roll.type}}"><i class="fas fa-trash"></i></a>
			</div>
		</h4>
	</div>
	{{!-- Attack --}}
	{{!-- [ pericia , atributo, bonus, ...parts] --}}
	{{#if (eq roll.type "ataque" ) }}
		<div class="form-group">
			<ol class="roll-parts form-group">
				<li class="roll-part flexrow">
					<input type="hidden" name="system.rolls.{{key}}.parts.0.0" value="1d20" />

					<select name="system.rolls.{{key}}.parts.1.0">
						{{#select (lookup (lookup roll.parts 1) 0) }}
							<!-- <option value="">{{ localize "T20.None" }}</option> -->
							<optgroup label="{{localize "T20.DefaultPlural"}}">
								<option value="atua">{{ localize (lookup ../config.pericias 'atua')}}</option>
								<option value="luta">{{ localize (lookup ../config.pericias 'luta')}}</option>
								<option value="pont">{{ localize (lookup ../config.pericias 'pont')}}</option>
							</optgroup>
							<optgroup label="Outras Perícias">
								{{#each ../config.pericias as |name type|}}
									{{#unless (includes type "luta" "pont" "atua")}}
										<option value="{{type}}">{{localize name}}</option>
									{{/unless}}
								{{/each}}
							</optgroup>
						{{/select}}
					</select>
					<select name="system.rolls.{{key}}.parts.1.1" title="Substituir Atributo da Perícia">
						{{#select (lookup (lookup roll.parts 1) 1) }}
							<option value="">{{localize 'T20.Default'}}</option>
							{{#each ../config.atributos as |name type|}}
								<option value="{{type}}">{{localize name}}</option>
							{{/each}}
						{{/select}}
					</select>
					<input type="text" name="system.rolls.{{key}}.parts.2.0" value="{{lookup (lookup roll.parts 2) 0}}" placeholder="Bônus" />
				</li>
			</ol>
		</div>
	{{/if}}

	{{!-- Dano --}}
	{{!-- [ dado, versatil, atributo, ...parts, tipo ] --}}
	{{#if (eq roll.type "dano" ) }}
		<div class="form-group">
			<ol class="roll-parts form-group flexcol">
				{{#if (eq ../item.type "arma") }}
				<li class="roll-part flexrow" data-roll-part="{{i}}">
					<input type="text" name="system.rolls.{{key}}.parts.0.0" value="{{lookup (lookup roll.parts 0) 0}}"
					title="Dano" />
					{{#if ../system.propriedades.ada }}
					<input type="text" name="system.rolls.{{key}}.versatil" value="{{roll.versatil}}" placeholder="Adaptável" />
					{{else}}
					<input type="hidden" name="system.rolls.{{key}}.versatil" value="" />
					{{/if}}
					{{#if (or (not @root.item.isOwned ) @root.isCharacterOwned) }}
					<select name="system.rolls.{{key}}.parts.1.0" title="Atributo">
						{{#select (lookup (lookup roll.parts 1) 0)}}
							<option value=""></option>
							<option value="padrao">{{localize 'T20.Default'}}</option>
							{{#each ../config.atributos as |name type|}}
								<option value="@{{type}}">{{localize name}}</option>
							{{/each}}
						{{/select}}
					</select>
					{{else}}
					<input type="hidden" name="system.rolls.{{key}}.parts.1.0" value="" />
					{{/if}}

					<select name="system.rolls.{{key}}.parts.0.1" title="Tipo de Dano">
						{{#select (lookup (lookup roll.parts 0) 1)}}
							{{> "optgroups"}}
						{{/select}}
					</select>
				</li>
				{{/if}}
				{{#each roll.parts as |part i| }}
					{{#unless (and (eq @root.item.type "arma") (lt i 2) )}}
						<li class="roll-part flexrow" data-roll-part="{{i}}">
							<input type="text" name="system.rolls.{{key}}.parts.{{i}}.0" value="{{lookup this "0"}}"/ title="Dano">
							<select name="system.rolls.{{key}}.parts.{{i}}.1">
								{{#select (lookup this "1") }}
									{{> "optgroups" none=true }}
								{{/select}}
							</select>
							<a class="parts-control delete-part" data-roll-id="{{key}}" title="{{key}}">
								<i class="fas fa-xmark"></i></a>
						</li>
					{{/unless}}
				{{/each}}
			</ol>
		</div>
	{{/if}}


	{{#if (eq roll.type "formula" ) }}
		<div class="form-group">
			<ol class="roll-parts form-group">
				<li class="roll-part flexrow" data-roll-part="{{i}}">
					<input type="text" name="system.rolls.{{key}}.parts.0.0" value="{{lookup (lookup roll.parts 0) 0}}" />
					<input type="hidden" name="system.rolls.{{key}}.parts.0.1" value="{{lookup (lookup roll.parts 0) 1}}" />
				</li>
			</ol>
		</div>
	{{/if}}
	<hr>
{{/each}}
