<h3>{{description}}</h3>
<div class="form-group">
  {{#each atributosList as |attr|}}
    <div class="attribute-row">
      <label for="attr-{{attr}}">{{lookup ../config.atributosAbr attr}}</label>
      <input type="number" name="{{attr}}" id="attr-{{attr}}" value="0" />
    </div>
  {{/each}}
</div>