<form autocomplete="off" style="padding: 0 2.5%" onsubmit="event.preventDefault()" style="display: flex;flex-direction: column;">
	<div class="form-group">
		{{#with forceSheetTemplate}}
			<label for="forceSheetTemplate">{{localize name}}</label>
			<input type="checkbox" name="forceSheetTemplate" id="forceSheetTemplate" {{#if value}}checked{{/if}}>
			<p class="notes">{{localize hint}}</p>
		{{/with}}
	</div>
	<div class="form-group">
		{{#with disableExperience}}
			<label for="replaceLanguages">{{localize name}}</label>
			<input type="checkbox" name="disableExperience" id="disableExperience" {{#if value}}checked{{/if}}>
			<p class="notes">{{localize hint}}</p>
		{{/with}}
	</div>
	<div class="form-group">
		{{#with enableLanguages}}
			<label for="enableLanguages">{{localize name}}</label>
			<input type="checkbox" name="enableLanguages" id="enableLanguages" {{#if value}}checked{{/if}}>
			<p class="notes">{{localize hint}}</p>
		{{/with}}
	</div>
	<div class="form-group">
		{{#with disableJournal}}
			<label for="disableJournal">{{localize name}}</label>
			<input type="checkbox" name="disableJournal" id="disableJournal" {{#if value}}checked{{/if}}>
			<p class="notes">{{localize hint}}</p>
		{{/with}}
	</div>
	<footer class="sheet-footer flexrow" style="margin-top: auto">
		<button type="submit" name="submit">
			<i class="far fa-save"></i> {{localize 'SETTINGS.Save'}}
		</button>
	</footer>
</form>